:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
  }

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg)
}

ul {
    font-family: helvetica;
}

#enter-status {
    visibility: hidden;
}

.charger-status {
    visibility: hidden;
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.read-btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.entry {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.charger-display-title {
    color: var(--fontColor);
    text-align: center;
}

.charger-div {
    background-color: #00FF00;
    display: grid;
    grid-template-columns: 300px 500px 500px auto;
}

.charger-status-div {
    background-color: #567349;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.charger-live-display-div-left {
    background-color: #894100;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.charger-live-display-div-right {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.single-battery {
    display: grid;
    grid-template-columns: 20px 200px auto;
}

.battery-number {
    text-align: right;
    grid-column: 1 / 2;
    height: 5px;
    margin-top: 1px;
}

.battery-display {
    margin-left: 10px;
    margin-right: 10px;
    grid-column: 2/3;
}

.battery-status {
    grid-column: 3/4;
    text-align: left;
    margin-top: 1px;
    height: 5px;
}

.top-menu-div {
    background-color: #FF0000;
    display: grid;
    grid-template-columns: 300px auto;
    padding-left: 20px;
}

.battery-display-background {
    background-color: #777777;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 80%;
}

.battery-display-foreground {
    width: 0%;
    height: 100%;
}

#enter-ip-div {
    background-color: #0278F3;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.chargers-container {
    background-color: #0000FF;
}

.btn:focus { outline-style: none; }
